! Atom One Light theme
*.background: #f9f9f9
*.foreground: #383a42
*.cursorColor: #e06c75

*.color0:  #eeeeee
*.color1:  #af0000
*.color2:  #008700
*.color3:  #5f8700
*.color4:  #0087af
*.color5:  #878787
*.color6:  #005f87
*.color7:  #444444
*.color8:  #bcbcbc
*.color9:  #d70000
*.color10: #5E81AC
*.color11: #8700af
*.color12: #e45649
*.color13: #d75f00
*.color14: #005faf
*.color15: #005f87
*.color16: #0087af
*.color17: #008700

URxvt.font: xft:Inconsolata:size=10
URxvt.scrollBar:   false
URxvt.cursorBlink: true
URxvt*depth:      31
URxvt*foreground: #1c1616
URxvt*background: #d0d0d0
!URxvt.transparent: true
URxvt.shading: 45
